body{
	background-color: black; 
}
#bimg{
	opacity: 0.5;
	position: absolute;
	width: 1560px;
	height: 830px;
	transform: rotate(180deg);
	z-index: -1;
	margin-top:-20px;
	margin-bottom:-15px;}
h1{
	color: #e8dbca;
	position: absolute;
	margin-left: 478px;
	z-index: 20;
	width: 400px;
}
/*#div1{
	z-index: 21;
	background-color: black;
}*/
#fm{
	position: absolute;
	margin-top: 40px;
	margin-left: 464px;
	/*background-color: blue;*/
	z-index: 20;
}
#in1{
	position: absolute;
	margin-top: 30px;
	height: 40px;
	width: 350px;
	/*border-color: #6c2a37;*/
	border-color: black;
	border-radius: 10px;
	/*border-style: double;*/
	border-width: 3px;
	background-color: #eeeae5;
	background-color: black;
	color: #232325;
	color:white;
	font-weight: bold;
	padding-left: 120px;
	z-index: 20;
}
#in2{
	position: absolute;
	margin-top: 85px;
	margin-left: 115px;
	height: 50px;
	width: 120px;
	border-style: solid;
	border-radius: 20px;
	border-width: 8px;
	border-color: #2d2b37;
	border-top-color: #297330;
	border-bottom-color: #297330;
	border-color: grey;
	color: black;
	z-index: 20;
	font-weight: bold;
}
#res{
	position: absolute;
	height: 155px;
	width: 1080px;
	border-color: black;
	border-style: solid;
	border-width: 5px;
	border-radius: 30px;
	background-color: grey;
	opacity: 0.8;
	z-index: 22;
	margin: 310px 50px 0px 145px;
}
#des{
	position: absolute;
	margin-left: 20px;
	margin-top: 20px;
	height: 112px;
	width: 230px;
	border-color: black;
	border-style:solid;
	border-radius: 30px;
	z-index: 23;
	background: linear-gradient(to right, yellow 50%, black 50%);
}
#des1{
	position: absolute;
	margin-left: 910px;
	margin-top: 20px;
	height: 112px;
	width: 150px;
	border-color: black;
	border-style:solid;
	border-radius: 30px;
	z-index: 23;
	background: linear-gradient(to top, black 60%, #3e4249 40%);
}
#des2{
	position: absolute;
	margin-left: 560px;
	margin-top: 20px;
	height: 112px;
	width: 150px;
	border-color: black;
	border-style:solid;
	border-radius: 30px;
	z-index: 23;
	background: linear-gradient(to top, black 60%, #3e4249 40%);
}
#des3{
	position: absolute;
	margin-left: 734px;
	margin-top: 20px;
	height: 112px;
	width: 150px;
	border-color: black;
	border-style:solid;
	border-radius: 30px;
	z-index: 23;
	background: linear-gradient(to top, black 60%, #3e4249 40%);
}
#des4{
	position: absolute;
	margin-left: 280px;
	margin-top: 20px;
	height: 112px;
	width: 250px;
	border-color: black;
	background-color: black;
	border-style:solid;
	border-radius: 30px;
	z-index: 23;
	background: linear-gradient(to bottom, black 0%, black 33%,#3e4249 33%,#3e4249 66%,black 66%,black 100%);
}
#des5{
	position: absolute;
	height: 49px;
	width: 800px;
	border-color: black;
	border-style: solid;
	border-width: 5px;
	border-radius: 20px;
	background-color: #3e4249;
	opacity: 0.8;
	z-index: 22;
	font-size: 24px;
	color: white;
	font-weight: bold;
	margin: 240px 0 0 270px;
}
#desp{
	position: absolute;
	color : white;
	font-weight: bold;
	z-index: 23;
	margin-top: 15px;
	margin-left: 30px;
}
#des5span{
	position: absolute;
	color : white;
	font-weight: bold;
	z-index: 23;
	font-size: 15px;
	padding: 10 30 5 30;
}
#despp{
	position: absolute;
	color : white;
	font-weight: bold;
	z-index: 23;
	font-size: 15px;
	margin-top: 16px;
	margin-left: 24px;
	margin-right: 1px;
	opacity: 5;
}
#desp1{
	position: absolute;
	color : white;
	font-weight: bold;
	font-size: 14px;
	z-index: 23;
	margin-top: 10px;
	margin-left: 20px;
}