body{
	background-color: black;
	background-size: cover;
	/*background-image: url("w1.png");*/

}


#bimg{
	opacity: 0.5;
	position: fixed;
	transform: rotate(180deg);
	z-index: -1;
	margin: -5px;
	padding: -5px;
	width: 100%;
    height: 100%;
  /*background-size: cover;*/
  
/*background-color: black;}*/}
h1{
	color: #e8dbca;
	/*position: absolute;*/
	margin:auto;
	/*margin-top: 10vh;*/
		z-index: 20;
	text-align: center;
	padding-top: 5vh; 
	/*border-color: white;*/
	/*border-radius: 5px;*/
	/*color: black;*/
}
#div1{
	z-index: 21;
	background: transparent;
	margin: auto;
	/*text-align: center;*/
	/*height: 120%;
	width: 120%;
	margin-top: -10px -10px -10px -10px;*/
	/*margin-top: 10vh;*/
}
#fm{
	/*position: absolute;*/
	/*margin-top: 40px;*/
	/*margin-left: 464px;*/
	margin: auto;
	margin-top: 20px;
	/*background-color: blue;*/
	z-index: 20;
	text-align: center;
}
#in1{
	/*position: absolute;*/
	/*margin:auto;*/
	height: 40px;
	width: 350px;
	/*border-color: #6c2a37;*/
	border-color: black;
	border-radius: 10px;
	/*border-style: double;*/
	border-width: 3px;
	background-color: #eeeae5;
	background-color: black;
	color: #232325;
	color:white;
	font-weight: bold;
	padding-left: 120px;
	z-index: 20;
}
#in2{
	/*position: absolute;*/
	/*margin-top: 85px;*/
	/*margin-left: 115px;*/
	height: 50px;
	width: 120px;
	border-style: solid;
	border-radius: 20px;
	border-width: 8px;
	border-color: #2d2b37;
	border-top-color: #297330;
	border-bottom-color: #297330;
	border-color: grey;
	color: black;
	z-index: 20;
	font-weight: bold;
	margin: auto;
	margin-top: 20px;
}
#res{
	/*position: absolute;*/
	height: auto;
	width: 60%;
	border-color: black;
	border-style: solid;
	border-width: 5px;
	border-radius: 30px;
	background-color: grey;
	opacity: 0.8;
	z-index: 22;
	margin: auto;
	margin-bottom: 10vh;
	overflow: auto;
}
#des{
	/*position: absolute;*/
	/*margin-left: 20px;*/
	/*margin-top: 20px;*/
	height: auto;
	width: 40vw;
	border-color: black;
	border-style:solid;
	border-radius: 30px;
	z-index: 23;
	margin: auto;
	margin-top: 10vh;
	padding: 3vh;
	/*text-align: center;*/

	background: linear-gradient(to right, yellow 50%, black 50%);
	
}
#des1{
	/*position: absolute;*/
	/*margin-left: 910px;*/
	height: auto;
	width: 40vw;
	border-color: black;
	border-style:solid;
	border-radius: 30px;
	z-index: 23;
	margin: auto;
	margin-top: 10vh;
	padding: 3vh;
	text-align: center;
	background: linear-gradient(to top, black 50%, #3e4249 50%);
}
#des2{
	height: auto;
	width: 40vw;
	border-color: black;
	border-style:solid;
	border-radius: 30px;
	z-index: 23;
	margin: auto;
	margin-top: 10vh;
	padding: 3vh;
	text-align: center;
	background: linear-gradient(to top, black 50%, #3e4249 50%);
}
#des3{
	height: auto;
	width: 40vw;
	border-color: black;
	border-style:solid;
	border-radius: 30px;
	z-index: 23;
	margin: auto;
	margin-top: 10vh;
	padding: 3vh;
	text-align: center;
	background: linear-gradient(to top, black 50%, #3e4249 50%);
}
#des4{
	height: auto;
	width: 40vw;
	border-color: black;
	border-style:solid;
	border-radius: 30px;
	z-index: 23;
	margin: auto;
	margin-top: 10vh;	
	padding: 3vh;
	text-align: center;
	background: linear-gradient(to bottom, black 0%, black 33%,#3e4249 33%,#3e4249 66%,black 66%,black 100%);
	margin-bottom: 10vh;
}
#des5{
	/*position: absolute;*/
	height: auto;
	width: 40vw;
	border-color: black;
	border-style:solid;
	border-radius: 30px;
	z-index: 23;
	margin: auto;
	margin-top: 10vh;
	padding: 3vh;
	text-align: center;
	margin-bottom: 10vh;
	background-color: grey;
	/*background: linear-gradient(to top, black 50%, #3e4249 50%);*/
}
#desp{
	/*position: absolute;*/
	color : white;
	font-weight: bold;
	z-index: 23;
	margin:auto;
	/*margin-left: 30px;*/
}
#des5span{
	color : white;
	font-weight: bold;
	z-index: 23;
	font-size: auto;
	/*margin: auto;*/
	height:20%;
	width: 30%;
    /*margin-left: 60%;*/
    margin-top: -10%;
	/*margin-left: 10vw;*/
	padding: 3vh;
	/*margin-left: 10vw;*/
	opacity: 5;
	text-align: center;
}
#despp{
	/*position: relative;*/
	color : white;
	font-weight: bold;
	z-index: 23;
	/*font-size: auto;*/
	float: right;
	padding-right: 1vw;
	/*padding: auto;*/
	margin: auto;
	/*margin: auto;*/
	/*height:auto;*/
	width: 30%;
    /*margin-left: 55%;*/
    /*margin-top: -35%;*/
    /*left:55%;*/
    /*top: -20vh;*/
    /*margin-top: 20%;*/
    /*top: 0;*/
	/*margin-left: 10vw;*/
	/*padding: 3vh;*/
	/*margin-left: 10vw;*/
	opacity: 5;
	/*text-align: center;*/
}
#desi{
	/*position: relative;*/
	z-index: 23;
	/*float: left;*/
	margin: auto;
	/*font-size: 15px;*/
	/*margin: auto;*/
	/*margin: auto;*/
	/*margin-left: 15%;*/
	/*margin-bottom: 10%;*/
	/*margin-top: -20vh;*/
	/*margin-right: 15%;*/
	/*padding: 5vh;*/
	/*padding:auto;*/
	padding-left: 2vw;
	height: 10%;
	width: 10%;
	/*margin-left: 10vw;*/
	/*padding: 3vh;*/
	/*margin-left: 10vw;*/
	opacity: 5;
	/*display:table-row; */
	/*text-align: center;*/
}

#desp1{
	color : white;
	font-weight: bold;
	z-index: 23;
	font-size: auto;
	/*margin: auto;*/
	height:20%;
	width: 30%;
    /*margin-left: 60%;*/
    margin-top: -10%;
	/*margin-left: 10vw;*/
	/*padding: 3vh;*/
	/*margin-left: 10vw;*/
	opacity: 5;
	text-align: center;
}
